:root {
    --header-height: 78px;
}

body {
    font-family: sans-serif;
}

.my_container {
    min-width: 360px;
    width: 100%;
    min-height: 100vh;
}

ul li a:hover {
    text-decoration: underline;
}

ul li i {
    cursor: pointer;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    font-weight: normal;
}

.nav-brand {
    width: 3rem;
    cursor: pointer;
}

#main-header {
    height: 300px;
    margin-top: var(--header-height);
    background-image: url(../img/scotlands-steam-train.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

div.user-form {
    width: 90%;
    max-width: 400px;
}

button.btn {
    border-color: #e70000;
    color: #e70000;
}

button.btn:hover {
    background-color: #e70000;
}

.my_bg-red {
    background-color: #e70000;
}

/* ! sm - almeno 576px di larghezza */
@media screen and (min-width: 576px) {
    div.user-form {
        width: 400px;
    }
}

/* ! lg - almeno 1200px di larghezza */
@media screen and (min-width: 1200px) {
    #main-header {
        background-image: url(../img/steam-train-2.jpg);
        background-position: center;
        margin-top: 50px;
        height: 300px;
    }
}